project/OpenGL/OpenGL/Debug/
project/OpenGL/OpenGL.opensdf
project/OpenGL/OpenGL.sdf
project/OpenGL/OpenGL.v12.suo
project/OpenGL/OpenGL/OpenGL.exe
project/OpenGL/OpenGL/OpenGL.ilk
project/OpenGL/OpenGL/OpenGL.pdb
project/OpenGL/OpenGL.VC.VC.opendb
project/OpenGL/OpenGL.VC.db
project/OpenGL/OpenGL/OpenGL.exp
project/OpenGL/OpenGL/OpenGL.lib
